@import "./main.css";

i, em{
    font-style: italic;
}

b, strong{
    font-weight: bold;
}

ol, ul{
    list-style: initial;
    padding-left: 1em;
}

p {
    margin: 1em 0;
}

blockquote {
    quotes: initial;
    content: initial;
    margin: 0;
    padding: 0 1em;
    font-style: italic;
    color: var(--fgColor-muted);
    background-color: #f7f7f7;
    border-left: .25em solid #aaa;
}

hr {
    margin: 1em 25pc;
    border: none;
    border-top: dotted;
    border-color: #aaa;
}

.go_up
{
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    font-size: 2em;
    text-decoration: none;
    color: #474f51;
    padding: 0.333em;
    border-radius: 100%;
    background-color: white;
    box-shadow: 5px 5px 5px lightGrey;
}

.go_up:hover
{
    background-color: ghostWhite;
    box-shadow: 5px 5px 5px silver;
}

.go_up:active
{
    background-color: whiteSmoke;
    font-size: 1.9em;
    box-shadow: 2.5px 2.5px 2.5px grey;
}
