@import "./main.css";
@import "./minikai.css";

i, em{
    font-style: italic;
}

b, strong{
    font-weight: bold;
}

ul{
    list-style: initial;
    padding-left: 2em;
    margin: 0;
}

ol{
    list-style-type: decimal;
    padding-left: 2em;
    margin: 0;
}

p {
    margin: 1em 0;
}

blockquote {
    quotes: initial;
    content: initial;
    margin: 0;
    padding: 0 1em;
    font-style: italic;
    background-color: #f7f7f7;
    border-left: .25em solid #aaa;
}

blockquote.warning{
    color: black;
    background-color: #fff4b3;
    border-left: .25em solid gold;
    font-style: normal;
}

blockquote.warning b {
    color: orange
}

blockquote.info{
    color: black;
    background-color: lightCyan;
    border-left: .25em solid darkCyan;
    font-style: normal;
}

blockquote.info b{
    color: darkCyan;
}

hr {
    margin: 1em 25pc;
    border: none;
    border-top: dotted;
    border-color: #aaa;
}

.blog_section ul
{
    list-style: none;
    padding-left: 0;
}

#content
{
    background: #fafafa url("images/deco_01.jpeg");
    background-size: 128px;
    border-top: solid 1px #fff;
    padding: 45px 0 45px 0;
}

#content section
{
    background: url("images/bg05.jpg");
    padding: 40px 30px 45px 30px;
    box-shadow: 10px 10px 10px grey;
    margin: 0 0 25px 0;
    border-radius: 5px;
}
